@import 'common';

@import './components/ImagePreview';
@import './components/UploadForm';

@import './views/HomeView';

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: $text-color;
}

* {
  box-sizing: border-box;
}
